.navbar {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #222;
    padding: 10px 10px;
  }
  .navbar-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* .nav-links .ho a{
    padding-left: 120px;
    margin-right: 120px;
    color: red;
  } */
  .logo-container .logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    flex:1;
    text-align:center;
  }
  
  .nav-links {
    list-style: none;
    flex:2;
    display: flex;
    justify-content:space-around;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: bold;
  }
  
  .nav-links a:hover {
    color:red;
  }
  